*{
    margin: 0;
    padding: 0;
}

body{
    overflow: hidden;
    animation: Shakebody linear 2.5s infinite; }

.sky{
    height: 100vh;
    width: 100%;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    position:absolute;

}

.tress{
    height: 100vh;
    width: 100%;
    background-image: url(trees.png);
    background-size: cover;
    position: absolute;
}
.track{
    height: 60vh;
    width: 800vw;
    background-image: url(track.png);
    background-repeat: repeat-x;
    /* background-size: cover; */
    position: absolute;
    top: 90vh;
    animation: TrackMove linear 11s infinite;
}

.car{
    height: 120px;
    width: 380px;
    background-image:url(car_body.png) ;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    left: 445px;
    bottom: 5vh;
    animation: Shakecar linear 1s infinite; 
    
}



.wheel1 img{
    width: 77px;
    position: relative;
    top: 45px;
    left: 53px;
    animation: wheelRotation linear .3s infinite; 
}

.wheel2 img{
    width: 77px;
    position: relative;
    top: -33px;
    left: 265px;
    animation: wheelRotation linear .3s infinite ;
}


/* Animation for wheel rotation */

@keyframes wheelRotation
{
    100%{
        transform:rotate(360deg);
    }
}

@keyframes TrackMove
{
    100%{
        transform:translateX(-500vw);
    }
}


@keyframes Shakecar
{
    0%{
        transform:translateY(-5px);
    }

    50%{
        transform:translateY(5px);
    }

    100%{
        transform:translateY(-5px);
    }
}



@keyframes Shakebody
{
    0%{
        transform:translateY(-50px);
    }

    50%{
        transform:translateY(50px);
    }

    100%{
        transform:translateY(-50px);
    }
}


